<div class="row">
  <div class="span12">
    <h2>Active Streams</h2>
  <hr />
  </div>
</div>

<%= render(:partial => "streamlist", :locals => {:streams => @active_streams}) %>

<div class="row">
  <div class="span12">
    <h2>Waiting Streams</h2>
  <hr />
  </div>
</div>

<%= render(:partial => "streamlist", :locals => {:streams => @waiting_streams}) %>

<div class="row">
  <div class="span12">
    <h2>Finished Streams</h2>
  <hr />
  </div>
</div>

<%= render(:partial => "streamlist", :locals => {:streams => @finished_streams}) %>

<div class="row">
  <div class="span12">
    <% if user_signed_in? %>
    <a href="<%= url_for new_stream_path %>" class="btn btn-primary">New Stream</a>
    <% else %>
    <a href="<%= url_for new_user_session_path %>" class="btn">Sign-In to Stream</a>
    <% end %>
  </div>
</div>

