<div class="row">
  <div class="span12">
    <h1>Stream: <%= @stream.name %></h1>
    <p><%= @stream.description %></p>
    <hr />
  </div>
</div>

<% if notice %>
<div class="row">
  <div class="span12">
    <p id="notice" class="text-info"><%= notice %></p>
  </div>
</div>
<% end %>

<% if @stream.state != "waiting" %>
<div class="row">
  <div class="span12">
    <video id="live_video" class="video-js vjs-default-skin span8 offset2" controls preload="auto" height="480" data-setup="{}">
      <% if @stream.state == "active" %>
        <source src="<%= @stream_uris[:hls_out] %>" type="application/x-mpegURL" />
        <source src="<%= @stream_uris[:rtmp_out] %>" type="application/x-rtmp" />
      <% else %>
        <source src="<%= @stream_uris[:http_out] %>" type="video/mp4" />
      <% end %>
    </video>
  </div>
</div>
<% end %>

<div class="row">
  <div class="span12">
    <div id="embedded-feed"></div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <hr />
    <% if @user_owns_stream %><a href="<%= url_for edit_stream_path(@stream) %>" class="btn btn-primary">Edit Stream</a><% end %>
    <a href="<%= url_for streams_path %>" class="btn">Back to Streams</a>
  </div>
</div>

<script type="text/javascript">
  yam.connect.embedFeed({
    container: '#embedded-feed',
    network: '<%= @stream.network_permaname %>',
    feedType: 'group',
    feedId: '<%= @stream.group_id %>'
  });
</script>

