<div class="row">
  <div class="span12">
    <h2>Sign in</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="span12">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
  <!-- <div class="control-group">
    <%= f.label :login, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :login %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <% if devise_mapping.rememberable? -%>
      <label class="checkbox" for="user_remember_me">
      <%= f.check_box :remember_me %> Remember Me
      </label>
      <% end -%>
      <button type="submit" name="commit" class="btn btn-primary">Sign in</button>
      
    </div>
  </div> -->

  <!-- Begin federated signon -->
  <div class="control-group">
    <div class="controls">
      <%= link_to image_tag('yammer_signin.png'), user_omniauth_authorize_path(:yammer) %>
      <span id="yammer-login"></span>
    </div>
  </div>

<% end %>

  </div>
</div>

<!-- <%= render :partial => "devise/shared/links" %> -->

